@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #d1dedd;
}

h1 {
    color: #767f7e;
    max-width: 660px;
    margin: auto;
    padding: 10rem 9rem;
}